<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.adam.aslfms.adc2" android:versionCode="3"
	android:versionName="1.0.1">

	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name="com.adam.aslfms.adc2.SettingsActivity"
			android:label="@string/app_name" android:icon="@drawable/icon">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<service android:name="com.adam.aslfms.adc2.service.ScrobblingService"
			android:enabled="true" android:exported="false">
			<intent-filter>
				<action android:name="com.adam.aslfms.adc2.service.playstatechanged" />
				<action android:name="com.adam.aslfms.adc2.service.authenticate" />
				<action android:name="com.adam.aslfms.adc2.service.clearcreds" />
			</intent-filter>
		</service>

		<receiver android:name="com.adam.aslfms.adc2.receiver.AndroidMusicReceiver"
			android:exported="true" android:enabled="true">
			<intent-filter>
				<action android:name="com.android.music.metachanged" />
				<action android:name="com.android.music.playstatechanged" />
				<action android:name="com.android.music.playbackcomplete" />
			</intent-filter>
		</receiver>

		<receiver android:name="com.adam.aslfms.adc2.receiver.HeroMusicReceiver"
			android:exported="true" android:enabled="true">
			<intent-filter>
				<action android:name="com.htc.music.metachanged" />
				<action android:name="com.htc.music.playbackcomplete" />
				<action android:name="com.htc.music.playstatechanged" />
			</intent-filter>
		</receiver>

		<receiver android:name="com.adam.aslfms.adc2.TestReceiver"
			android:exported="true" android:enabled="true">
			<intent-filter>
				<action android:name="com.tunewiki.lyricplayer.android.radio.shoutcast" />
			</intent-filter>
		</receiver>
	</application>

	<uses-sdk android:minSdkVersion="3" />

	<uses-permission android:name="android.permission.INTERNET" />

</manifest> 